.idea/
.vscode/

__pycache__/
*.py[cod]

local.py
venv/

media/*
!media/categories
!media/vendor_logos
!media/mobile
!media/tags
!media/footer
staticfiles/
media/*/*/*.jpeg
media/*/*/*.png
media/*/*/*.jpg
media/*/*/*.gif
media/*/*/*.webp

downloads/products/

superz_sitemap/sitemaps/*.xml
superz_sitemap/sitemaps/*.gz
sitemap.xml
sitemap*.xml

mysql.cnf
mongo_conf.txt
elastic_conf.txt
redis_conf.txt

/api/initial_data/users_secrets.json
logs/*
.env

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover